*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body{
    background-color: #f5f5f5;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
}

header img{
    width:100px;
}

header nav ul{
    display: flex;
    list-style: none;
}

header nav ul li{
    margin-left: 50px;
}

header nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Hamburger Menu */

.hamburger-menu{
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.close-menu{
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    align-self: flex-end;
    margin: 10px;

}


@media(max-width: 600px) {

    header{
        position: relative;
    }

    .hamburger-menu{
        display: block;
    }

    #main-nav{
        display: none;
        flex-direction: column;
        background-color: #fff;
        position: absolute;
        top:100%;
        left:0;
        width: 100%;
    }

    #main-nav.open{
        display: flex;
    }

    header, footer{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    } 
    
    header nav ul{
        flex-direction: column;
        align-items: center;
    }

    header nav ul li{
        margin-bottom: 10px;
    }

    .close-menu{
        display: block;
    }

}